@font-face {
    font-family: 'MYhero';
    src: url(../fonts/gulams-condensed-ext-bd-font/GulamsCondensedDemoExtrabold-8OBrD.otf);
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.color-scroll {
    animation: color-scroll 5s ease infinite;
}

@keyframes color-scroll {
    0% {
        color: #D63E0D;
        transform: translateX(-100%);
    }

    100% {
        color: #511502;
        transform: translateX(100%);
    }
}



.fadein {
    opacity: 0;
    animation: fadein 2s forwards 8s;
}

.btn {
    background-color: #D63E0D;
    padding: 9px 15px;
    text-decoration: none;
    font-weight: 600;
    border-radius: 18px;
    color: #fdf6ea;
    box-shadow: #00000050 2px 2px 2px 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn:hover {
    background-color: #210C0C;
    padding: 9px 15px;
    text-decoration: none;
    font-weight: 600;
    border-radius: 18px;
    color: #fdf6ea;
    box-shadow: #00000050 2px 2px 2px 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all 0.7s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    overflow-x: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fefcfc;
}


header {
    position: absolute;
    top: 20px;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 99999999999;


    .logo:hover {
        cursor: pointer;

    }

    .logo img {
        width: 200px;
        margin-left: 15px;
    }



    nav {
        background-color: rgba(146, 99, 99, 0.386);
        padding: 10px 20px;
        border-radius: 18px;
        backdrop-filter: blur(10px);
        box-shadow: 2px 2px 2px 0px rgba(18, 17, 17, 0.386);
        margin-left: 192px;
    }

    ul {
        list-style: none;
        display: flex;
        justify-content: center;
        gap: 30px;
    }

    li {
        list-style: none;
    }

    li a {
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-weight: 700;
        font-size: 16px;


    }

    a:hover {
        color: #D63E0D;
    }

    .sign-up img {
        width: 20px;
        height: 20px;
        transform: translateY(5px);
        filter: brightness(100%) invert(100%);
    }

}

.mobile .MobileMenu {
    position: absolute;
    top: 0;
    right: 0px;
    background-color: #475b6459;
    display: none;
    flex-direction: column;
    width: 270px;
    height: 100vh;
    align-items: center;
    border: #992701 2px solid;
    border-radius: 14px;
    backdrop-filter: blur(10px);
    justify-content: flex-start;
    gap: 50px;
    padding-top: 30px;
}

.MobileMenu a:hover:not(.btn, .svg) {
    background-color: #D63E0D;
    color: #fcece6;
    padding: 9px 80px;
    border-radius: 18px;
    box-shadow: 2px 2px 0px 1px rgba(74, 74, 74, 0.525);
}

svg {
    fill: #D63E0D;

}

.hero-section::before {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(45deg, #511402a0, #d63f0dc3, #511402cb);
    opacity: 0.9;
    width: 100%;
    height: 60vh;

}

.hero-section {
    width: 100%;
    height: 60vh;
    background-image: url(../Assset/images/page-hero.webp);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;

    h2 {
        color: #fdf6ea;
        font-size: 48px;
        font-weight: 700;
        text-align: center;
        padding-top: 100px;
        text-shadow: 2px 2px 4px #000000b3;
        position: relative;
        z-index: 12;
    }

    p {
        color: #fdf6ea;
        font-size: clamp(16px, 2.5vw, 18px);
        font-weight: 500;
        text-align: center;
        padding-top: 20px;
        text-shadow: 2px 2px 4px #000000b3;
        max-width: 600px;
        display: block;
        margin: auto;
        padding: 20px;
        position: relative;
        z-index: 12;

    }
}

hr {
    width: 100px;
    display: block;
    margin: auto;
    border: #210C0C 2px solid;
}



.Values {
    width: 100%;


    .value-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 10px;
        flex-wrap: wrap;
        margin-bottom: 20px;

    }

    #p1 {
        color: #210C0C;
        font-weight: 500;
        margin-bottom: 20px;
        padding: 20px;
        max-width: 500px;
        display: block;
        margin: auto;
        text-align: center;
    }

    h3 {
        text-align: center;
        font-size: clamp(25px, 4vw, 35px);
        margin-top: 20px;
    }

    p:not(#p1) {
        text-align: center;
        max-width: 500px;
        display: block;
        margin: auto;
        color: #fcece6;
        font-size: clamp(12px, 4vw, 13px);
        text-align: left;
    }

    h5 {
        font-size: clamp(18px, 4vw, 20px);
        text-align: left;
        color: #FDA038;
        margin-bottom: 10px;
    }
/* flip styles */
.container{
  display:flex;
  justify-content: center;
  align-items: center;
    gap:20px;
  flex-wrap:wrap;
  margin-inline:10px ;
}

.card {
  width: 300px;
  height: 250px;
  perspective: 1000px;
  cursor: pointer;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
}

.card-front {
 background-image: linear-gradient(45deg, #5F0E03, #5F0E03, #D63E0D);
  border: 1px solid #e5e7eb;
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: flex-start;
}

.card-back {
  background: #ffffff;
 background-image: linear-gradient(45deg, #6d2727, #5F0E03, #D63E0D);
  color: rgb(255, 0, 0);
  transform: rotateY(180deg);
  box-shadow: 2px 2px 2px 2px rgb(239, 239, 239);
    display: flex;
    flex-direction: column;
    
}

.card-back span{
    font-weight:700px;
    font-size: 1.2rem;
    color: #ffffff;
}


}

.Service {

    .Our-Service {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        gap: 0px;
        margin: 10px 20px;
        flex-wrap: wrap;
        margin-top: 70px;
        margin-bottom: 70px;
        background-color: #ffffff;
    }

    img {
        width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-inline: 20px;
    }

    h3 {
        font-size: clamp(25px, 4vw, 30px);
        margin-bottom: 20px;
        max-width: 500px;
        color: #210C0C;
    }

    p {
        max-width: 520px;
        margin-bottom: 30px;
        font-weight: 500;
        font-size: clamp(12px, 4vw, 14px);
    }

    .list {
        display: flex;
        align-items: center;
        font-weight: 500;
        margin-left: -20px;
    }

    .list img {
        width: 30px;
        height: 30px;
    }


}

footer {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: -70px;

    .footer-container {
        background-color: #D63E0D;
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
        padding: 20px;
    }

    ul {
        list-style: none;
    }

    a {
        text-decoration: none;
        font-weight: 500;
        color: #fdf6ea;
        font-size: 1em;
        line-height: 30px;
    }

    p {
        font-weight: 600;
        color: #fcece6;
    }

    h4 {
        color: #fcece6;
        font-size: 1.3rem;
    }

    .logo img {
        width: 300px;
        margin-left: -13px;
    }

    .logo p {
        max-width: 320px;
    }

    .Contact img {
        width: 30px;
        height: 30px;
        filter: brightness(0) invert(1);

    }

    .contact-us {
        display: flex;
        align-items: center;
        gap: 3px;
    }
}

.faq {
    display: flex;
    justify-content: space-around;
    align-items: first baseline;
    flex-wrap: wrap;
    padding: 20px;
    gap: 70px;

    h3 {
        text-align: initial;
        font-size: clamp(25px, 4vw, 35px);
        margin-top: 20px;
    }

    .faq-content {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    #p1 {
        color: #511502;
        font-size: clamp(14px, 4vw, 16px);
        padding-bottom: 10px;
        font-weight: 600;
    }

    button {
        border: none;
        padding: 8px 40px;
        font-size: 1.1em;
    }

    button:hover {
        border: none;
        padding: 8px 40px;
        font-size: 1.1em;
    }

    p {
        max-width: 400px;
    }

    details {
        font-size: clamp(14px, 4vw, 14px);

    }

    summary {
        font-size: clamp(16px, 4vw, 16px);
        padding-bottom: 10px;
        font-weight: 600;
    }

    .details {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 370px;
        margin-bottom: 20px;
    }

    .details div {
        background-image: linear-gradient(45deg, #5F0E03, #5F0E03, #D63E0D);
        padding: 20px;
        border-radius: 12px;
        color: #fcece6;
        box-shadow: 2px 2px 12px 2px rgb(175, 174, 174);
    }

}

.Team {

    .title {
        text-align: center;


        h3 {
            text-align: center;
            font-size: clamp(25px, 4vw, 35px);
            margin-top: 20px;
        }

        p {
            font-weight: 600;
        }
    }



    .team-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
        margin-inline: 140px;
        flex-wrap: wrap;
        margin: 40px 20px;
    }

    img {
        width: 250px;
        height: 200px;
        border-radius: 12px;
        display: block;
        margin: auto;
        margin-top: 10px;
    }

    .teams {
        width: 290px;
        height: 350px;
        border: #5F0E03 2px solid;
        border-radius: 12px;
        padding: 20px;
        box-shadow: 2px 2px 12px 2px rgb(210, 210, 210);
    }

    .content {
        display: flex;
        justify-content: space-between;
    }

    .content p {
        font-size: clamp(11px, 4vw, 12px);
        font-weight: 600;
    }

    .teams p:not(.content p) {
        color: #1f0700;
        font-size: clamp(10px, 4vw, 12px);
        font-weight: 600;
        padding-top: 7px;
    }

    .img {

        height: auto;
        display: flex;
    }

    .img img {
        background-color: transparent;
        width: 20px;
        height: 20px;
        box-shadow: none;
    }
}

/* Floating */
.floating-top {
    width: 100%;
    position: sticky;
    bottom: 10px;
}

.floating-top img {
    position: relative;
    left: 85vw;
    width: 40px;
}

@media (max-width:1150px) {

    .desktop-menu {
        display: none;
    }

    header {
        justify-content: space-around;
        gap: 40px;
    }

    .blog-container {
        gap: 60px;
    }

    .footer-container {
        padding: 20px;
    }


}

@media (min-width: 1200px) {

    .mobile-hanburger {
        display: none;
    }

    header {
        .logo img {
            width: 200px;
            margin-inline: 40.5px;
        }
    }




    footer {
        .footer-container {
            padding-inline: 83px;
        }

        p:has(.logo) {
            padding-left: -5px;
        }

        p:has(.logo) {
            padding-left: -50px;
        }

    }

    .Values {
        .container {
            gap: 90px;
            row-gap: 20px;
            margin-inline: 40px;
        }

        .box {
            height: 240px;
        }


    }


    .Service {

        .Our-Service {
            align-items: flex-end;
            padding: 20px;
            padding-top: 70px;
        }

        p {
            max-width: 465px;
        }

        img {
            width: 400px;
        }
    }

    .faq {
        gap: 157px;
    }

    .floating-top img {
        position: relative;
        left: 94vw;
        width: 40px;
    }

}