@font-face {
    font-family: 'MYhero';
    src: url(../fonts/gulams-condensed-ext-bd-font/GulamsCondensedDemoExtrabold-8OBrD.otf);
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.color-scroll {
    animation: color-scroll 5s ease backwards;
    animation-timeline: view(50% 0%);
}

@keyframes color-scroll {
    0% {
        background-color: #D63E0D;
        transform: translateX(-100%);
    }

    50% {
        background-color: #511502;
        transform: translateX(100%);
    }

    100% {
        background-color: #511502;
        transform: translateX(0%);
    }
}

/* Target link */
nav a[href*="blog"]{
    color: #D63E0D;
}

.fadein {
    opacity: 0;
    animation: fadein 2s forwards 8s;
}

.btn {
    background-color: #D63E0D;
    padding: 9px 15px;
    text-decoration: none;
    font-weight: 600;
    border-radius: 18px;
    color: #fdf6ea;
    box-shadow: #00000050 2px 2px 2px 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn:hover {
    background-color: #210C0C;
    padding: 9px 15px;
    text-decoration: none;
    font-weight: 600;
    border-radius: 18px;
    color: #fdf6ea;
    box-shadow: #00000050 2px 2px 2px 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all 0.7s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    overflow-x: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fefcfc;
}


header {
    position: absolute;
    top: 20px;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 99999999999;


    .logo:hover {
        cursor: pointer;

    }

    .logo img {
        width: 200px;
        margin-left: 15px;
    }



    nav {
        background-color: rgba(146, 99, 99, 0.386);
        padding: 15px 20px;
        border-radius: 18px;
        backdrop-filter: blur(10px);
        box-shadow: 2px 2px 2px 0px rgba(18, 17, 17, 0.386);
        margin-left: 192px;
    }

    ul {
        list-style: none;
        display: flex;
        justify-content: center;
        gap: 30px;
    }

    li {
        list-style: none;
    }

    li a {
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-weight: 700;
        font-size: 16px;


    }

    a:hover {
        color: #D63E0D;
    }

    .sign-up img {
        width: 20px;
        height: 20px;
        transform: translateY(5px);
        filter: brightness(100%) invert(100%);
    }

}

.mobile .MobileMenu {
    position: absolute;
    top: 0;
    right: 0px;
    background-color: #475b6459;
    display: none;
    flex-direction: column;
    width: 270px;
    height: 100vh;
    align-items: center;
    border: #992701 2px solid;
    border-radius: 14px;
    backdrop-filter: blur(10px);
    justify-content: flex-start;
    gap: 50px;
    padding-top: 30px;
}

.MobileMenu a:hover:not(.btn, .svg) {
    background-color: #D63E0D;
    color: #fcece6;
    padding: 9px 80px;
    border-radius: 18px;
    box-shadow: 2px 2px 0px 1px rgba(74, 74, 74, 0.525);
}

svg {
    fill: #D63E0D;

}

.hero-section::before {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(45deg, #511402a0, #d63f0dc3, #511402cb);
    opacity: 0.9;
    width: 100%;
    height: 60vh;


}

.hero-section {
    width: 100%;
    height: 60vh;
    background-image: url(../Assset/images/page-hero.webp);
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;

    h2 {
        color: #fdf6ea;
        font-size: 48px;
        font-weight: 700;
        text-align: center;
        padding-top: 100px;
        text-shadow: 2px 2px 4px #000000b3;
        position: relative;
        z-index: 12;
    }

    p {
        color: #fdf6ea;
        font-size: clamp(16px, 2.5vw, 18px);
        font-weight: 500;
        text-align: center;
        padding-top: 20px;
        text-shadow: 2px 2px 4px #000000b3;
        max-width: 600px;
        display: block;
        margin: auto;
        padding: 20px;
        position: relative;
        z-index: 12;
    }
}

hr {
    width: 100px;
    display: block;
    margin: auto;
    border: #210C0C 2px solid;
}

.blog {
    margin: 20px;

    h3 {
        text-align: center;
        font-size: 32px;
        font-weight: 700;
        margin-top: 40px;
    }

    p {
        text-align: center;
        font-size: 18px;
        margin-top: 10px;
        font-weight: 500;
    }

    .post-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
        justify-content: center;
        justify-items: center;
        flex-wrap: wrap;
        gap: 40px;
        column-gap: 60px;
        margin: 20px 0;
        margin-inline: 40px;
    }

    .post-card {
        display: grid;
        grid-template-rows: subgrid;
        grid-row: span 5;
        gap: 5px;
        width: 310px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 14px;
        overflow: hidden;
        text-align: center;
        padding: 10px;

    }

    a:not(.btn) {
        text-decoration: none;
        color: #210C0C;
    }

    span {
        color: #511502;
        font-size: 14px;
        font-weight: 500;
    }

    .btn {
        width: 10em;
        display: block;
        margin: auto;
        margin-bottom: 10px;
    }

    .post-card p {
        font-size: 14px;
        margin-top: 10px;
        font-weight: 500;
        margin-bottom: 10px;
    }

    img {
        width: 100%;
        height: 220px;
        object-fit: cover;
        border-radius: 8px;
    }
}

footer {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: -70px;

    .footer-container {
        background-color: #D63E0D;
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
        padding: 20px;
    }

    ul {
        list-style: none;
    }

    a {
        text-decoration: none;
        font-weight: 500;
        color: #fdf6ea;
        font-size: 1em;
        line-height: 30px;
    }

    p {
        font-weight: 600;
        color: #fcece6;
    }

    h4 {
        color: #fcece6;
        font-size: 1.3rem;
    }

    .logo img {
        width: 300px;
        margin-left: -13px;
    }

    .logo p {
        max-width: 320px;
    }

    .Contact img {
        width: 30px;
        height: 30px;
        filter: brightness(0) invert(1);

    }

    .contact-us {
        display: flex;
        align-items: center;
        gap: 3px;
    }
}





/* Floating */
.back-to-top {
    width: 100%;
    position: sticky;
    bottom: 10px;
}

.back-to-top img {
    position: relative;
    left: 85vw;
    width: 40px;
     filter: invert(32%) sepia(88%) saturate(6667%) hue-rotate(6deg) brightness(95%) contrast(100%);
}


.pagination {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 8px;
}

.pagination button {
    padding: 8px 14px;
    border: none;
    background: #ddd;
    cursor: pointer;
    border-radius: 4px;
}

.pagination button.active {
    background: #333;
    color: #fff;
}

.pagination button:hover {
    background: #555;
    color: #fff;
}


@media (max-width:1150px) {

    .desktop-menu {
        display: none;
    }

    header {
        justify-content: space-around;
        gap: 40px;
    }

    .blog-container {
        gap: 60px;
    }

    .footer-container {
        padding: 20px;
    }


}

@media (min-width: 1200px) {

    .mobile-hanburger {
        display: none;
    }

    header {
        .logo img {
            width: 200px;
            margin-inline: 40.5px;
        }

    }

    footer {
        .footer-container {
            padding-inline: 83px;
        }

        p:has(.logo) {
            padding-left: -5px;
        }

        p:has(.logo) {
            padding-left: -50px;
        }

    }
  .back-to-top img {
        position: relative;
        left: 94vw;
        width: 40px;
    }

}

/* Animations */
.zoom {
    animation: zoom 1s linear;
}

@keyframes zoom {
    from {
        transform: scale(0.5);
    }

    to {
        transform: scale(1);
    }
}