@font-face {
    font-family: 'MYhero';
    src: url(../fonts/gulams-condensed-ext-bd-font/GulamsCondensedDemoExtrabold-8OBrD.otf);
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.color-scroll {
    animation: color-scroll 5s ease infinite;
}

@keyframes color-scroll {
    0% {
        color: #D63E0D;
        transform: translateX(-100%);
    }

    100% {
        color: #511502;
        transform: translateX(100%);
    }
}



.fadein {
    opacity: 0;
    animation: fadein 2s forwards 8s;
}

.btn {
    background-color: #D63E0D;
    padding: 9px 15px;
    text-decoration: none;
    font-weight: 600;
    border-radius: 18px;
    color: #fdf6ea;
    box-shadow: #00000050 2px 2px 2px 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn:hover {
    background-color: #210C0C;
    padding: 9px 15px;
    text-decoration: none;
    font-weight: 600;
    border-radius: 18px;
    color: #fdf6ea;
    box-shadow: #00000050 2px 2px 2px 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all 0.7s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    overflow-x: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fefcfc;
}


header {
    position: fixed;
    top: 20px;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 99999999999;


    .logo:hover {
        cursor: pointer;

    }

    .logo img {
        width: 200px;
        margin-left: 15px;
    }



    nav {
        background-color: rgba(146, 99, 99, 0.548);
        padding: 10px 20px;
        border-radius: 18px;
        backdrop-filter: blur(10px);
        box-shadow: 2px 2px 2px 0px rgba(23, 21, 21, 0.386);
        margin-left: 250px;
    }

    ul {
        list-style: none;
        display: flex;
        justify-content: center;
        gap: 30px;
    }

    li {
        list-style: none;
    }

    li a {
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-weight: 700;
        font-size: 18px;

    }

    a:hover {
        color: #FDA038;
    }

}

.mobile .MobileMenu {
    position: absolute;
    top: 0;
    right: 0px;
    background-color: #475b6459;
    display: none;
    flex-direction: column;
    width: 270px;
    height: 100vh;
    align-items: center;
    border: #79483E 2px solid;
    border-radius: 14px;
    backdrop-filter: blur(10px);
    justify-content: flex-start;
    gap: 60px;
    padding-top: 30px;
}

.MobileMenu a:hover {
    background-color: #79483E;
    padding: 9px 80px;
    border-radius: 100px;
    box-shadow: 2px 2px 0px 1px rgba(0, 0, 0, 0.525);
}

svg {
    fill: #D63E0D;

}


.hero-section {
    width: 100%;
    height: 50vh;
    background-image: url(../Assset/images/page-hero.webp);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;

    h2 {
        color: #fdf6ea;
        font-size: 48px;
        font-weight: 700;
        text-align: center;
        padding-top: 100px;
        text-shadow: 2px 2px 4px #000000b3;
    }

    p {
        color: #fdf6ea;
        font-size: clamp(16px, 2.5vw, 18px);
        font-weight: 500;
        text-align: center;
        padding-top: 20px;
        text-shadow: 2px 2px 4px #000000b3;
        max-width: 600px;
        display: block;
        margin: auto;
        padding: 20px;
    }
}

hr {
    width: 100px;
    display: block;
    margin: auto;
    border: #210C0C 2px solid;
}

.Contact-section {
    .Contact-container {
        margin: 20px;
        display: flex;
        justify-content: space-between;
        padding: 40px 10px;
        flex-wrap: wrap;
        gap: 40px;
    }

    .contact {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    button {
        width: 300px;
        font-size: 18px;
        border: none;
    }

    h3 {
        color: #D63E0D;
        font-size: clamp(25px, 4vw, 35px);
        text-align: center;
        max-width: 500PX;
    }



    p {
        text-align: center;
        max-width: 400px;
        margin-bottom: 20px;
        font-weight: 600;
        font-size: clamp(17px, 3.5vw, 18px);
        padding-top: 10px;
    }

    input {
        width: 300px;
        height: 40px;
        border-radius: 12px;
        border: 1px solid black;
        padding-inline: 10px;
    }

    .map {

        overflow-x: hidden;
    }
}

footer {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: -70px;

    .footer-container {
        background-color: #D63E0D;
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
        padding: 20px;
    }

    ul {
        list-style: none;
    }

    a {
        text-decoration: none;
        font-weight: 500;
        color: #fdf6ea;
        font-size: 1em;
        line-height: 30px;
    }

    p {
        font-weight: 600;
        color: #fcece6;
    }

    h4 {
        color: #511502;
        font-size: 1.3rem;
    }

    .logo img {
        width: 300px;
    }

    .logo p {
        max-width: 300px;
    }

    .Contact img {
        width: 30px;
        height: 30px;
    }

    .contact-us {
        display: flex;
        align-items: center;
        gap: 3px;
    }
}

/* Floating */
.floating-top {
    width: 100%;
    position: sticky;
    bottom: 10px;
}

.floating-top img {
    position: relative;
    left: 85vw;
    width: 40px;
}

@media (max-width:1150px) {

    .desktop-menu {
        display: none;
    }

    header {
        justify-content: space-around;
        gap: 40px;
    }

    .blog-container {
        gap: 60px;
    }

    .footer-container {
        padding: 20px;
    }


}

@media (min-width: 1200px) {

    .mobile-hanburger {
        display: none;
    }

    footer {
        .footer-container {
            padding-inline: 80px;
        }
    }

    .floating-top img {
        position: relative;
        left: 94vw;
        width: 40px;
    }

}