@font-face {
    font-family: 'MYhero';
    src: url(../fonts/gulams-condensed-ext-bd-font/GulamsCondensedDemoExtrabold-8OBrD.otf);
}

:root {
    --after-content: '2';
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.loading-wrapper {
    background: linear-gradient(135deg, #511502 0%, #D63E0D 100%);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999999999;
}

.logo-wrapper {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999999999999;
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 40px;
    z-index: 999999999;
}

.spinner>div {
    background-color: #fffdfd;
    height: 100%;
    width: 6px;
    display: inline-block;
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {

    0%,
    40%,
    100% {
        -webkit-transform: scaleY(0.4)
    }

    20% {
        -webkit-transform: scaleY(1.0)
    }
}

@keyframes sk-stretchdelay {

    0%,
    40%,
    100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }

    20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}


.color-scroll {
    animation: color-scroll 5s ease backwards;
    animation-timeline: view(50% 0%);

}

@keyframes color-scroll {
    0% {
        background-color: #D63E0D;
        transform: translateX(-100%);
    }

    50% {
        background-color: #511502;
        transform: translateX(100%);
    }

    100% {
        background-color: #511502;
        transform: translateX(0%);
    }
}



.fadein {
    opacity: 0;
    animation: fadein 2s forwards 8s;
}

.btn {
    background-color: #D63E0D;
    padding: 9px 15px;
    text-decoration: none;
    font-weight: 600;
    border-radius: 18px;
    color: #fdf6ea;
    box-shadow: #00000050 2px 2px 2px 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
}

.btn:hover {
    background-color: #210C0C;
    padding: 9px 15px;
    text-decoration: none;
    font-weight: 600;
    border-radius: 18px;
    color: #fdf6ea;
    box-shadow: #00000050 2px 2px 2px 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all 0.7s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    overflow-x: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fefcfc;
    user-select: none;
}


header {
    position: fixed;
    top: 20px;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 9999999;


    .logo:hover {
        cursor: pointer;

    }

    .logo img {
        width: 200px;
        margin-left: 15px;
        position: relative;
        z-index: 99999999999;
    }




    nav {
        background-color: rgba(146, 99, 99, 0.386);
        padding: 15px 20px;
        border-radius: 18px;
        backdrop-filter: blur(10px);
        box-shadow: 2px 2px 2px 0px rgba(18, 17, 17, 0.386);
        margin-left: -22px;
        z-index: 999999999;
    }

    ul {
        list-style: none;
        display: flex;
        justify-content: center;
        gap: 30px;
    }

    li {
        list-style: none;
    }

    li a {
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-weight: 700;
        font-size: 16px;


    }

    a:hover {
        color: #D63E0D;
    }

    .sign-up img {
        width: 20px;
        height: 20px;
        transform: translateY(5px);
        filter: brightness(100%) invert(100%);
    }

}

.mobile .MobileMenu {
    position: absolute;
    top: 0;
    right: 0px;
    background-color: #475b6459;
    display: none;
    flex-direction: column;
    width: 270px;
    height: 100vh;
    align-items: center;
    border: #992701 2px solid;
    border-radius: 14px;
    backdrop-filter: blur(10px);
    justify-content: flex-start;
    gap: 50px;
    padding-top: 30px;
    z-index: 99999999999999;
}

.MobileMenu a:hover:not(.btn, .svg) {
    background-color: #D63E0D;
    color: #fcece6;
    padding: 9px 80px;
    border-radius: 18px;
    box-shadow: 2px 2px 0px 1px rgba(74, 74, 74, 0.525);
}

svg {
    fill: #D63E0D;
    position: relative;
    z-index: 99;
}


/* target nav link */
nav a[href*="product"] {
    color: #D63E0D;
}

hr {
    width: 100px;
    display: block;
    margin: auto;
    border: #210C0C 2px solid;
}


#slider::before {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(45deg, #511402a0, #3f1203c3, #511402cb);
    opacity: 0.5;
    width: 100vw;
    height: 70vh;
    z-index: 1;
}



@keyframes pargraph-animation {
    0% {
        content: "Shop Your Best Wine Here";
    }

    20% {
        content: "Experience The Taste Of Good Wine";
    }

    40% {
        content: "Share Love With A Bottle Of Wine";
    }

    60% {
        content: "Celebrate With A Glass Of Wine";
    }

    80% {
        content: "Healthy Wine Healthy Living";
    }

    100% {
        content: "Let Be Your Wine Plug Today!";

    }
}

#slider {
    width: 100vw;
    height: 70vh;
    position: relative;
    overflow: hidden;
}

.TEXT {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    z-index: 999;
    color: #fcece6;

    p::before {
        content: "Shop Your Best Wine Here";
        animation: pargraph-animation 39s infinite;

    }

    p {
        text-align: center;
        font-size: clamp(18px, 3vw, 25px);
        font-weight: 600;
        text-shadow: #511502 4px 8px 10px;
    }

    h2 {
        font-size: clamp(45px, 6vw, 80px);
        text-align: center;
        text-shadow: #511502 4px 8px 10px;
    }
}

#slider ul {
    position: relative;
    list-style: none;
    width: 9999%;
    left: 0;
    transition: all 1s ease;
}

#slider ul li {
    position: relative;
    width: 100vw;
    height: 70vh;
    float: left;
}

#slider ul li:nth-child(1) {
    background: url('../Assset/images/carosel.jpeg');
    background-size: cover;
    background-position: center center;
}

#slider ul li:nth-child(2) {
    background: url('../Assset/images/carosel2.jpeg');
    background-size: cover;
    background-position: center center;
}

#slider ul li:nth-child(3) {
    background: url('../Assset/images/carosel3.jpeg');
    background-size: cover;
    background-position: center center;
}

#slider ul li:nth-child(4) {
    background: url('../Assset/images/blog-img15.webp');
    background-size: cover;
    background-position: center center;
}

#slider ul li:nth-child(5) {
    background: url('../Assset/images/carosel4.jpeg');
    background-size: cover;
    background-position: center center;
}

#prev,
#next {
    z-index: 999;
    position: absolute;
    top: 45%;
    font-size: 35px;
    color: #fff;
    text-decoration: none;
    font-family: sans-serif;
    transition: .3s ease;
}

#prev:hover,
#next:hover {
    transform: scale(1.5)
}

#prev {
    left: 5vw;
}

#next {
    right: 5vw;
}

#slider #num {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    z-index: 1;
}

#slider #num div {
    display: inline-block;
    width: 35px;
    height: 5px;
    background: rgba(255, 255, 255, .3);
    margin: 2px;
    transition: .3s ease;
    cursor: pointer;
}

#slider #num div:hover {
    background: #fff;
}

#lbar,
#pbar {
    position: absolute;
    width: 90%;
    height: 2px;
    top: 20px;
    background: rgba(255, 255, 255, .3);
    left: 50%;
}

#lbar {
    transform: translateX(-50%)
}

#pbar {
    background: #fff;
    left: 5%;
    box-shadow: 0 0 20px 1px rgb(196, 253, 255);
    animation: load 8s ease-in infinite;
}

@keyframes load {
    from {
        width: 0;
    }

    to {
        width: 90%;
    }
}




/* PRODUCT CODE */
div>i {
    color: #D63E0D;

    font-size: 30px;
}

.whole-cart-window {
    background-color: #fdf6ea;
    padding: 20px;
    border-radius: 12px;
    position: sticky;
    top: 0;
    right: 0;
    margin-right: 20px;
    z-index: 9999999999999999999;
    box-shadow: 20px 20px 60px #656565;

}

.cart-icon {
    text-align: right;
    padding: 10px;
    position: relative;
    left: -40px;
}

.cart-box {
    width: clamp(380px, 32vw, 76%);
    margin-right: 10px;
    position: absolute;
    top: 0;
    right: 0;
}

h2 {
    font-size: x-large;
    padding: 15px 10px;
}

.cart-wrapper {
    overflow-y: auto;
    max-height: 33vh;
}

.subtotal {
    text-align: right;
    padding: 5%;
}

.checkout,
.view-cart {
    width: 95%;
    text-align: center;
    cursor: pointer;
    background-color: #D63E0D;
    font-size: large;
    color: #fff;
    margin: 10px auto;
}

.view-cart {
    background-color: rgb(255, 255, 255);
    color: #992701;
    font-weight: 600;
}

.cart-item {
    display: grid;
    grid-template-columns: 3fr 6fr 1fr;
    padding: 5% 2%;
    border-bottom: solid 1px lightgrey;
    gap: 20px;
}

.cart-item img {
    width: 100%;
    border-radius: 12px;
}

.card-item .details {
    padding-left: 10%;
}

.card-item h3 {
    text-align: left;
    margin-bottom: 5%;
}

.cart-item .price {
    display: block;
    text-align: right;
    margin-top: 15%;
}

.cart-item .quantity {
    display: block;
    margin-top: 20px;
}

.fa-window-close {
    color: #D63E0D;
    cursor: pointer;
}

.cancel {
    text-align: right;
}

.hide {
    display: none;
}

.non-empty::after {
    content: var(--after-content);
    font-size: 10px;
    width: 10px;
    height: 10px;
    display: inline-block;
    text-align: center;
    align-items: center;
    position: relative;
    padding: 6px;
    top: -50px;
    right: -30%;
    background-color: #D63E0D;
    border-radius: 50%;
    color: #fff;
    border: 2px solid rgb(230, 226, 226);
}

/* card styling */

.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 7%;
}

.card-item:hover {
    transform: translateY(-10px);
}

del {
    margin-right: 3px;
}

span {
    width: 100%;
}

.card-item {
    display: flex;
    flex-direction: column;
    width: 310px;
    height: 400px;
    justify-content: center;
    align-items: center;
    border: 2px solid #ffffff;
    margin: 20px 0;
    border-radius: 14px;
    background-color: #ffffff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px;
    transition: transform 2s ease;
}

.card-item img {
    width: 230px;
    height: 200px;
    border-radius: 12px;
}

.card-item .details {
    text-align: center;
    width: 100%;
    padding-inline: 30px;

}

.card-item p {
    margin-bottom: 30px;
}

.card-item h3 {
    text-align: center;
    margin-inline: 10px;
}

.card-item span {
    /* display: block; */
    margin-top: 20px;
    width: 100%;
    font-weight: 500;
}

.card-item p span:nth-child(1) {
    font-weight: 600;
    font-size: 0.9em;
    color: #2c2b2b;
}

.add-to-cart-btn {
    width: fit-content;
    margin: auto;
    margin-top: 10px;
}

footer {
    position: relative;
    width: 100vw;
    height: auto;
    margin-bottom: -70px;

    .footer-container {
        background-color: #D63E0D;
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
        padding: 20px;
    }

    ul {
        list-style: none;
    }

    a {
        text-decoration: none;
        font-weight: 500;
        color: #fdf6ea;
        font-size: 1em;
        line-height: 30px;
    }

    p {
        font-weight: 600;
        color: #fcece6;
    }

    h4 {
        color: #fcece6;
        font-size: 1.3rem;
    }

    .logo img {
        width: 300px;
        margin-left: -13px;
    }

    .logo p {
        max-width: 320px;
    }

    .Contact img {
        width: 30px;
        height: 30px;
        filter: brightness(0) invert(1);

    }

    .contact-us {
        display: flex;
        align-items: center;
        gap: 3px;
    }
}



/* Floating */
.back-to-top {
    width: 100%;
    position: sticky;
    bottom: 10px;
}

.back-to-top img {
    position: relative;
    left: 85vw;
    width: 40px;
    filter: invert(32%) sepia(88%) saturate(6667%) hue-rotate(6deg) brightness(95%) contrast(100%);
}


@media (min-width:768px) and (max-width: 1024px) {

    .cart-icon {
        left: -10px;
    }
}

@media (max-width:767px) {
    .cart-icon {
        left: -80px;
    }
}

@media (max-width:1150px) {

    .desktop-menu {
        display: none;
    }


    .blog-container {
        gap: 60px;
    }

    .footer-container {
        padding: 20px;
    }



    .cart-box {
        width: 90%;
    }
}

@media (min-width: 1200px) {

    .mobile-hanburger {
        display: none;
    }

    header {
        .logo img {
            width: 200px;
            position: relative;
            margin-left: -26px;
        }

    }

    .cart-icon {
        left: -4%;
    }


    footer {

        position: relative;
        z-index: 9999;

        .footer-container {
            padding-inline: 83px;
        }

        p:has(.logo) {
            padding-left: -5px;
        }

        p:has(.logo) {
            padding-left: -50px;
        }

    }

    .back-to-top img {
        position: relative;
        left: 94vw;
        width: 40px;
    }



    .sign-in {

        .wine {
            display: flex;
        }
    }

}


.flipInX {
    animation: flipInX 2s linear;
}

@keyframes flipInX {
    0% {
        opacity: 0.2;
        transform: translateY(50%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}