@font-face {
    font-family: 'MYhero';
    src: url(../fonts/gulams-condensed-ext-bd-font/GulamsCondensedDemoExtrabold-8OBrD.otf);
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.color-scroll {
    animation: color-scroll 5s ease infinite;
}

@keyframes color-scroll {
    0% {
        color: #D63E0D;
        transform: translateX(-100%);
    }

    100% {
        color: #511502;
        transform: translateX(100%);
    }
}



.fadein {
    opacity: 0;
    animation: fadein 2s forwards 8s;
}

.btn {
    background-color: #D63E0D;
    padding: 9px 15px;
    text-decoration: none;
    font-weight: 600;
    border-radius: 18px;
    color: #fdf6ea;
    box-shadow: #00000050 2px 2px 2px 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
}

.btn:hover {
    background-color: #210C0C;
    padding: 9px 15px;
    text-decoration: none;
    font-weight: 600;
    border-radius: 18px;
    color: #fdf6ea;
    box-shadow: #00000050 2px 2px 2px 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all 0.7s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    overflow-x: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fefcfc;
}


header {
    position: absolute;
    top: 20px;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 99999999999;


    .logo:hover {
        cursor: pointer;

    }

    .logo img {
        width: 200px;
        margin-left: 15px;
    }



    nav {
        background-color: rgba(146, 99, 99, 0.386);
        padding: 10px 20px;
        border-radius: 18px;
        backdrop-filter: blur(10px);
        box-shadow: 2px 2px 2px 0px rgba(18, 17, 17, 0.386);
         margin-left: 192px;
    }

    ul {
        list-style: none;
        display: flex;
        justify-content: center;
        gap: 30px;
    }

    li {
        list-style: none;
    }

    li a {
          text-decoration: none;
        color: rgb(255, 255, 255);
        font-weight: 700;
        font-size: 16px;
        

    }

    a:hover {
        color: #D63E0D;
    }

     .sign-up img{
        width: 20px;
        height: 20px;
        transform: translateY(5px);
        filter: brightness(100%) invert(100%);
    }

}

.mobile .MobileMenu {
    position: absolute;
    top: 0;
    right: 0px;
    background-color: #475b6459;
    display: none;
    flex-direction: column;
    width: 270px;
    height: 100vh;
    align-items: center;
    border: #992701 2px solid;
    border-radius: 14px;
    backdrop-filter: blur(10px);
    justify-content: flex-start;
    gap: 50px;
    padding-top: 30px;
}

.MobileMenu a:hover:not(.btn, .svg) {
    background-color: #D63E0D;
    color: #fcece6;
    padding: 9px 80px;
     border-radius: 18px;
    box-shadow: 2px 2px 0px 1px rgba(74, 74, 74, 0.525);
}

svg {
    fill: #D63E0D;

}

.hero-section::before{
    content: '';
    position: absolute;
    inset: 0;
     background: linear-gradient(45deg,#511402a0,#d63f0dc3,#511402cb);
     opacity: 0.7;
    
}

.hero-section {
    width: 100%;
    height: 60vh;
    background-image: url(../Assset/images/page-hero.webp);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    

    h2 {
        color: #fdf6ea;
        font-size: clamp(40px, 8vw, 60px);
        font-weight: 700;
        text-align: center;
        padding-top: 100px;
        text-shadow: 2px 2px 4px #000000b3;
        position: relative;
        z-index: 12;
    }

    p {
        color: #fdf6ea;
        font-size: clamp(16px, 2.5vw, 18px);
        font-weight: 500;
        text-align: center;
        padding-top: 20px;
        text-shadow: 2px 2px 4px #000000b3;
        max-width: 600px;
        display: block;
        margin: auto;
        padding: 20px;
         position: relative;
        z-index: 12;
    }
}

hr {
    width: 100px;
    display: block;
    margin: auto;
    border: #210C0C 2px solid;
}




.sign-in{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    overflow-x: hidden;
    
    

    .sign-in-container{
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 2px 2px black;
        gap: 20px;
        margin: 20px;
        border-radius: 12px;
    }

    .wine{
        background-color: #D63E0D;
        height: 500px;
        padding: 20px;
        border-radius: 0 12px 12px 0;
        position: relative;
        background: url(../Assset/images/blog-img7.webp);
        display: none;

           button{
            padding: 10px 25px;
            font-weight: 500;
            background-color: transparent;
            border: #fefcfc solid 2px;
            border-radius: 8px;
            color: #fefcfc;
            margin: 30px 0;
            cursor: pointer;
            transform: translateX(100%);
        }

          h2{
            color: #fcece6;
            text-align: center;
            font-size: clamp(20px,6vw,34px);
        }

        p{
            max-width: 300px;
            font-weight: 500;
            color: #fefcfc;
            text-align: center;
        }
        .content{
            position: relative;
            top: 160px;
        }
    } 

        .wine::before{
            content: '';
            position: absolute;
            inset: 0;
             border-radius: 0 12px 12px 0;
            background: linear-gradient(45deg,#511402a0,#d63f0dc3,#511402cb);
        }
        
      
        
      
    

    .form{
        height: 500px;
        padding: 50px;  

        h1{
            text-align:initial;
            color: #D63E0D;
        }

        input{
            width: 300px;
            height: 40px;
            padding: 20px;
            margin: 10px 0;
            border-radius: 8px;
            border: 1.5px solid black;
        }

        .check{
            display: flex;
            align-items: center;
        }
        #check{
            width: 30px;
            height: 20px;
        }

        button{
            padding: 14px 124px;
            border-radius: 8px;
            margin-bottom: 10px;
        }

        a{
            text-decoration: none;
            font-weight: 500;
            color: #992701;
        }

        p{
            font-weight: 500;
        }

        span{
            margin-top: -100px;
        }
    }
}








footer {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: -70px;

    .footer-container {
        background-color: #D63E0D;
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
        padding: 20px;
    }

    ul {
        list-style: none;
    }

    a {
        text-decoration: none;
        font-weight: 500;
        color: #fdf6ea;
        font-size: 1em;
        line-height: 30px;
    }

    p {
        font-weight: 600;
        color: #fcece6;
    }

    h4 {
      color:#fcece6;
        font-size: 1.3rem;
    }

  .logo img {
        width: 300px;
        margin-left: -13px;
    }

    .logo p {
        max-width: 320px;
    }

    .Contact img {
        width: 30px;
        height: 30px;
        filter: brightness(0) invert(1);

    }

    .contact-us {
        display: flex;
        align-items: center;
        gap: 3px;
    }
}




/* Floating */
.floating-top {
    width: 100%;
    position: sticky;
    bottom: 10px;
}

.floating-top img {
    position: relative;
    left: 85vw;
    width: 40px;
}



@media (max-width:1150px) {

    .desktop-menu {
        display: none;
    }

    header {
        justify-content: space-around;
        gap: 40px;
    }

    .blog-container {
        gap: 60px;
    }

    .footer-container {
        padding: 20px;
    }

   

}

@media (min-width: 1200px) {

    .mobile-hanburger {
        display: none;
    }

     header {
        .logo img {
            width: 200px;
            margin-inline: 40.5px;
        }

    }

   
    .floating-top img {
        position: relative;
        left: 94vw;
        width: 40px;
    }


    
.sign-in{
   
    .wine{
        display: flex;
    } 
}

}