@font-face {
    font-family: 'MYhero';
    src: url(../fonts/gulams-condensed-ext-bd-font/GulamsCondensedDemoExtrabold-8OBrD.otf);
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.color-scroll {
    animation: color-scroll 5s ease infinite;
}

@keyframes color-scroll {
    0% {
        color: #D63E0D;
        transform: translateX(-100%);
    }

    100% {
        color: #511502;
        transform: translateX(100%);
    }
}



.fadein {
    opacity: 0;
    animation: fadein 2s forwards 8s;
}

.btn {
    background-color: #D63E0D;
    padding: 9px 15px;
    text-decoration: none;
    font-weight: 600;
    border-radius: 18px;
    color: #fdf6ea;
    box-shadow: #00000050 2px 2px 2px 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn:hover {
    background-color: #210C0C;
    padding: 9px 15px;
    text-decoration: none;
    font-weight: 600;
    border-radius: 18px;
    color: #fdf6ea;
    box-shadow: #00000050 2px 2px 2px 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all 0.7s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    overflow-x: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fefcfc;
}


header {
    position: fixed;
    top: 20px;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 99999999999;


    .logo:hover {
        cursor: pointer;

    }

    .logo img {
        width: 200px;
        margin-left: 15px;
    }



    nav {
        background-color: rgba(146, 99, 99, 0.548);
        padding: 10px 20px;
        border-radius: 18px;
        backdrop-filter: blur(10px);
        box-shadow: 2px 2px 2px 0px rgba(23, 21, 21, 0.386);
        margin-left: 250px;
    }

    ul {
        list-style: none;
        display: flex;
        justify-content: center;
        gap: 30px;
    }

    li {
        list-style: none;
    }

    li a {
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-weight: 700;
        font-size: 18px;

    }

    a:hover {
        color: #FDA038;
    }

}

.mobile .MobileMenu {
    position: absolute;
    top: 0;
    right: 0px;
    background-color: #475b6459;
    display: none;
    flex-direction: column;
    width: 270px;
    height: 100vh;
    align-items: center;
    border: #79483E 2px solid;
    border-radius: 14px;
    backdrop-filter: blur(10px);
    justify-content: flex-start;
    gap: 60px;
    padding-top: 30px;
}

.MobileMenu a:hover {
    background-color: #79483E;
    padding: 9px 80px;
    border-radius: 100px;
    box-shadow: 2px 2px 0px 1px rgba(0, 0, 0, 0.525);
}

svg {
    fill: #D63E0D;
    
}

/* hero section */
.hero {
    width: 100vw;
    height: 120vh;
    position: relative;
    overflow: hidden;

    .hero-content {
        position: absolute;
        top: 100px;
        padding: 10px;
    }

    .desktop-video {
        display: none;
    }

    .hero-video-mobile {
        width: 100%;
        object-fit: cover;
        border-radius: 0 0 32px 32px;
    }

    h2 {
        font-size: clamp(45px, 8vw, 60px);
        font-family: 'MYhero';
        max-width: 400px;
        color: aliceblue;
        word-spacing: 2px;
    }

    p {
        font-size: clamp(16px, 4vw, 19px);
        max-width: 400px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;
        color: #FFEBC5;
        text-shadow: #79483E 0.7px 1px;
        margin-bottom: 30px;
    }

    .name {
        position: absolute;
        font-size: 80px;
        font-weight: 900;
        top: 40%;
        left: 20px;
        opacity: 0.1;
    }

    .box {
        display: flex;
        justify-content: center;
        gap: 20px;
        position: absolute;
        top: 430px;
        left: 10px;
        padding-right: 20px;

        .box1 {
            min-width: 140px, 370px;
            /* width: 140px; */
            height: 110px;
            background-color: #6f180c5e;
            backdrop-filter: blur(100px);
            border: #ff7c50 solid;
            padding: 20px;
            text-align: center;
            border-radius: 12px;
            box-shadow: 2px 2px rgba(0, 0, 0, 0.416);
        }

        .box1 h3 {
            color: #fcc4b2;
        }

        .box1 p {
            font-size: 13px;
        }
    }

    .worldwide {
        width: 330px;
        max-width: 540px;
        height: 70px;
        background-color: #6f180c5e;
        backdrop-filter: blur(100px);
        border: #ff7c50 solid;
        padding: 20px;
        text-align: center;
        border-radius: 12px;
        box-shadow: 2px 2px rgba(0, 0, 0, 0.416);
        position: absolute;
        top: 550px;
        left: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;

        img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
        }

        .img2 {
            margin-left: -15px;
        }

        .img3 {
            margin-left: -15px;
        }

        .img4 {
            margin-left: -15px;
        }

        .img5 {
            margin-left: -15px;
        }

        .star {
            width: 70px;
            height: auto;
            margin-top: 18px;
            margin-bottom: -20px;
        }

        p {
            font-size: 12px;
            padding-top: 10px;
        }
    }
}


/* Seller Section */
.seller {
    h3 {
        font-size: clamp(30px, 6vw, 40px);
        color: #E4420A;
        text-align: center;
    }

    hr {
        width: 100px;
        display: block;
        margin: auto;
        border: #210C0C 2px solid;
    }

    p {
        text-align: center;
        font-size: clamp(14px, 6vw, 17px);
        font-weight: 500;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: baseline;
    }

    h4 {
        text-align: center;
        max-width: 220px;
        display: block;
        margin: auto;
    }

    .cart-button {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        align-items: center;
    }

    .product {
        width: 290px;
        height: 350px;
        border: 1.5px solid rgb(255, 255, 255);
        padding: 10px;
        border-radius: 12px;
        box-shadow: 2px 2px 7px 2px rgba(0, 0, 0, 0.228);
        margin-top: 30px;
        gap: 10px;
        padding: 20px;
        transition: transform 3s ease;
    }

    .product:hover {
        transform: scale(1.02);
    }

    img {
        width: 230px;
        height: 200px;
        border-radius: 12px;
        display: block;
        margin: auto;
    }

    .cart {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        margin-top: 30px;
    }

    .cart-btn {
        padding: 1px 10px;
        padding-bottom: 6px;
    }

    .cart-img {
        width: 20px;
        height: 20px;
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
    }

    .product p {
        text-align: center;
        font-size: clamp(12px, 4vw, 15px);
    }

    /* Process section */
    .process {
        border-radius: 20px;
        display: flex;
        justify-content: space-between;
        padding: 20px;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 60px;
        gap: 20px;
    }


    .process p {
        max-width: 500px;
        text-align: left;
        margin-bottom: 30px;
    }

    .process h3 {
        max-width: 500px;
        text-align: left;

    }

    .process img {
        width: 300px;
        height: 400px;

    }
}

/* Sponsors section */
.sponsors {
    margin-top: 90px;
    position: relative;
    width: 100%;
    height: auto;

    .sponsors-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-wrap: wrap;
    }

    img {
        width: 150px;
        height: auto;
        opacity: 0.5;
    }

    p {
        margin-bottom: 40px;
    }

}

/* Blog Section */
.blog {
    margin-top: 50px;
     position: relative;
    width: 100%;
    height: auto;

    .blog-container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 30px;
    }

    .blog-post p {
        max-width: 250px;
        margin-bottom: 30px;
        font-size: clamp(10px, 4vw, 13px);
    }

    .blog-post h4 {
        max-width: 250px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .blog-post button {
        border: none;
        display: block;
        margin: auto;
    }
}

/* what-people-say-about-us */

.what-people-say-about-us {
    
    .carousel {
        margin: 100px auto;
        width: 90%;
        display: flex;
        overflow-x: auto;
        gap: 1rem;
        height: auto;
    }

    .group {
        display: flex;
        align-items: baseline;
        justify-content: center;
        gap: 1em;
        animation: infinite-scroll 17s infinite linear;
    }


    .card {
        flex: 0 0 5em;
        height: 10em;
        font-size: 3rem;
        border-radius: 2em;
        text-align: center;
        align-content: center;
    }

    h5 {
        font-size: clamp(20px, 3vw, 30px);
        margin-bottom: 10px;
    }

    p {
        font-size: clamp(14px, 2vw, 10px);
    }

    .card img {
        width: 200px;
        height: 180px;
        margin-bottom: 10px;
    }

    h3 {
        margin-top: 70px;
        padding-inline: 15px;
    }

    #p1 {
        margin-bottom: -90px;
    }
}

.carousel::-webkit-scrollbar {
    display: none;
}



@keyframes infinite-scroll {
    from {
        translate: -100%;
    }

    to {
        translate: 0%;
    }
}

.Subscribe {

    .container {
        display: block;
        background-color: #5f0e03;
        backdrop-filter: blur(10px);
        width: 90%;
        margin: auto;
        border-radius: 32px;
        padding: 20px;
        margin-bottom: 20px;
        box-shadow: 3px 3px 4px 3px rgba(200, 196, 196, 0.664);
    }

    .email {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    button {
        display: block;
        margin: auto;
        width: 280px;
        border: none;
        padding: 10px 20px;
        font-size: 17px;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    input {
        display: block;
        margin: auto;
        width: 280px;
        height: 40px;
        border-radius: 18px;
        margin-bottom: -18px;
        margin-top: 20px;
        padding-inline: 10px;
        border: none;
    }

    h4 {
        color: #fdf6ea;
        font-size: clamp(20px, 8vw, 35px);
        max-width: 100%;

    }

    p {
        font-size: clamp(12px, 5vw, 14px);
        color: #fdf6ea;
    }
}

footer {
    position: relative;
    width: 100%;
    height: auto;

    .footer-container {
        background-color: #D63E0D;
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content:space-between;
        gap: 20px;
        padding: 20px;
    }

    ul{
        list-style: none;
    }

    a{
        text-decoration: none;
        font-weight: 500;
        color: #fdf6ea;
        font-size: 1em;
        line-height: 30px;
    }

    p{
        font-weight: 600;
        color: #fcece6;
    }

    h4{
        color: #511502;
        font-size: 1.3rem;
    }
    .logo img {
        width: 300px;
    }

    .logo p {
        max-width: 300px;
    }

    .Contact img{
      width: 30px;
      height: 30px;
    }
    /* .Contact img {
filter: invert(9%) sepia(84%) saturate(3300%) hue-rotate(354deg) brightness(82%) contrast(110%);
} */

    .contact-us{
        display: flex;
        align-items: center;
        gap: 3px;
    }
}

@media (max-width:1150px) {

    .desktop-menu {
        display: none;
    }

    header {
        justify-content: space-around;
        gap: 40px;
    }

    .blog-container {
        gap: 60px;
    }

      .footer-container{
               padding: 20px;
    }

   
}

@media (min-width: 1200px) {

    .mobile-hanburger {
        display: none;
    }

    .hero {





        .desktop-video {
            display: block;
            width: 100vw;
            position: absolute;
            border-radius: 0 0 52px 52px;
            top: 0;
            z-index: -1;
        }

        .hero-video-mobile {
            display: none;
        }

        .name {
            position: absolute;
            font-size: 250px;
            font-weight: 900;
            top: 5%;
            left: 60px;
            opacity: 0.1;
        }


        .hero-content {
            position: absolute;
            top: 300px;
            padding-left: 80px;
        }

        h2 {
            max-width: 400px;
            line-height: 70px;
        }

        p {
            margin-bottom: 20px;
        }

        .box {
            top: 340px;
            left: 900px;

            .box1 {
                background-color: #6f180c5e;
                backdrop-filter: blur(100px);
                border: #ff7c50 solid;
                padding: 20px;
                text-align: center;
                border-radius: 12px;
                box-shadow: 2px 2px rgba(0, 0, 0, 0.416);
            }

            .box1 h3 {
                color: #fcc4b2;
            }

            .box1 p {
                font-size: 13px;
            }
        }

        .worldwide {
            width: 360px;
            height: 75px;
            top: 460px;
            left: 900px;
            gap: 80px;

            img {
                width: 30px;
                height: 30px;
                border-radius: 50%;
            }

            .img2 {
                margin-left: -15px;
            }

            .img3 {
                margin-left: -15px;
            }

            .img4 {
                margin-left: -15px;
            }

            .img5 {
                margin-left: -15px;
            }

            .star {
                width: 70px;
                height: auto;
                margin-top: 18px;
                margin-bottom: -10px;
            }

            p {
                font-size: 12px;
                margin-bottom: 30px;
                margin-top: -10px;
            }
        }
    }

    /* Seller section */
    .seller {
        .seller-container {
            position: absolute;
            top: -50px;
        }


    }

    .product {
        margin-inline: 60px;
    }

    .process {
        margin-inline: 40px;
    }

    .blog-container {
        margin-inline: 60px;

    }

    footer{
        .footer-container{
             padding-inline: 80px;
        }
    }
}