@font-face {
    font-family: 'MYhero';
    src: url(../Assset/fonts/gulams-condensed-ext-bd-font/GulamsCondensedDemoExtrabold-8OBrD.otf);
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

:root {
    --after-content: '2';
}

.color-scroll {
    animation: color-scroll 5s ease backwards;
    animation-timeline: view(50% 0%);
}



@keyframes color-scroll {
    0% {
        background-color: #D63E0D;
        transform: translateX(-100%);
    }

    50% {
        background-color: #511502;
        transform: translateX(100%);
    }

    100% {
        background-color: #511502;
        transform: translateX(0%);
    }
}



.fadein {
    opacity: 0;
    animation: fadein 2s forwards 8s;
}

.btn {
    background-color: #D63E0D;
    padding: 9px 15px;
    text-decoration: none;
    font-weight: 600;
    border-radius: 18px;
    color: #fdf6ea;
    box-shadow: #00000050 2px 2px 2px 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn:hover {
    background-color: #210C0C;
    padding: 9px 15px;
    text-decoration: none;
    font-weight: 600;
    border-radius: 18px;
    color: #fdf6ea;
    box-shadow: #00000050 2px 2px 2px 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all 0.7s ease;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    overflow-x: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fefcfc;

}






header {
    position: fixed;
    top: 20px;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 99999999999;


    .logo:hover {
        cursor: pointer;
    }

    .logo img {
        width: 200px;
        margin-left: 15px;
    }



    nav {
        background-color: rgba(146, 99, 99, 0.386);
        padding: 15px 20px;
        border-radius: 18px;
        backdrop-filter: blur(10px);
        box-shadow: 2px 2px 2px 0px rgba(18, 17, 17, 0.386);
        margin-left: -22px;
        z-index: 999999999;
    }

    ul {
        list-style: none;
        display: flex;
        justify-content: center;
        gap: 30px;
        align-items: center;

    }

    li {
        list-style: none;
    }

    li a {
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-weight: 700;
        font-size: 16px;
        transition: all 1s ease;
    }

    li a:hover {
        color: #D63E0D;
    }


    .sign-up img {
        width: 20px;
        height: 20px;
        transform: translateY(5px);
        filter: brightness(100%) invert(100%);
    }
}

.mobile .MobileMenu {
    position: absolute;
    top: 0;
    right: 0px;
    background-color: #475b6459;
    display: none;
    flex-direction: column;
    width: 270px;
    height: 100vh;
    align-items: center;
    border: #992701 2px solid;
    border-radius: 14px;
    backdrop-filter: blur(10px);
    justify-content: flex-start;
    gap: 50px;
    padding-top: 30px;
    z-index: 99999999999;
}

.MobileMenu a:hover:not(.btn, .svg) {
    background-color: #D63E0D;
    color: #fcece6;
    padding: 9px 80px;
    border-radius: 18px;
    box-shadow: 2px 2px 0px 1px rgba(74, 74, 74, 0.525);
}

svg {
    fill: #D63E0D;
    /* display: none; */
    position: relative;
    z-index: 99;
    left: -20px;
}



/* Target link */
nav a[href*="index"] {
    color: #D63E0D !important;
}


/* hero section */
.hero {
    /* width: 100vw; */
    /* height: 100vh; */
    position: relative;
    overflow: hidden;


    .hero-content {
        position: absolute;
        top: 100px;
        padding: 10px;
    }

    .desktop-video {
        display: none;

    }

    .hero-video-mobile {
        width: 100%;
        object-fit: cover;
        border-radius: 0 0 32px 32px;
    }

    h2 {
        font-size: clamp(45px, 8vw, 60px);
        font-family: 'MYhero', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        max-width: 400px;
        color: aliceblue;
        word-spacing: 2px;
    }

    p {
        font-size: clamp(16px, 4vw, 19px);
        max-width: 400px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 500;
        color: #FFEBC5;
        text-shadow: #79483E 0.7px 1px;
        margin-bottom: 30px;
    }

    .name {
        position: absolute;
        font-size: 80px;
        font-weight: 900;
        top: 40%;
        left: 20px;
        opacity: 0.1;
    }

    .box {
        display: flex;
        justify-content: center;
        gap: 20px;
        position: absolute;
        top: 430px;
        left: 10px;
        padding-right: 20px;

        .box1 {
            min-width: 140px, 370px;
            /* width: 140px; */
            height: 110px;
            background-color: #6f180c5e;
            backdrop-filter: blur(100px);
            border: #ff7c50 solid;
            padding: 20px;
            text-align: center;
            border-radius: 12px;
            box-shadow: 2px 2px rgba(0, 0, 0, 0.416);
        }

        .box1 h3 {
            color: #fcc4b2;
        }

        .box1 p {
            font-size: 13px;
        }
    }

    .worldwide {
        max-width: 92vw;
        width: 92vw;
        height: 70px;
        background-color: #6f180c5e;
        backdrop-filter: blur(100px);
        border: #ff7c50 solid;
        padding: 20px;
        text-align: center;
        border-radius: 12px;
        box-shadow: 2px 2px rgba(0, 0, 0, 0.416);
        position: absolute;
        top: 550px;
        left: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;

        img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
        }

        .img2 {
            margin-left: -15px;
        }

        .img3 {
            margin-left: -15px;
        }

        .img4 {
            margin-left: -15px;
        }

        .img5 {
            margin-left: -15px;
        }

        .star {
            width: 70px;
            height: auto;
            margin-top: 18px;
            margin-bottom: -20px;
        }

        p {
            font-size: 12px;
            padding-top: 10px;
        }
    }
}


/* PRODUCT CODE */
div>i {
    color: #D63E0D;
    font-size: 30px;
}

.whole-cart-window {
    background-color: #fdf6ea;
    padding: 20px;
    border-radius: 12px;
    position: sticky;
    top: 0;
    right: 0;
    margin-right: 20px;
    z-index: 99;
}

.cart-icon {
    text-align: right;
    padding: 10px;
    position: relative;
    left: -40px;
    z-index: 1;
}

.cart-box {
    width: clamp(380px, 32vw, 76%);
    margin-right: 10px;
    position: absolute;
    top: 0;
    right: 0;
}

h2 {
    font-size: x-large;
    padding: 15px 10px;
}

.cart-wrapper {
    overflow-y: auto;
    max-height: 33vh;
}

.subtotal {
    text-align: right;
    padding: 5%;
}

.checkout,
.view-cart {
    width: 95%;
    text-align: center;
    cursor: pointer;
    background-color: #D63E0D;
    font-size: large;
    color: #fff;
    margin: 10px auto;
}

.view-cart {
    background-color: rgb(255, 255, 255);
    color: #992701;
    font-weight: 600;
}

.cart-item {
    display: grid;
    grid-template-columns: 3fr 6fr 1fr;
    padding: 5% 2%;
    border-bottom: solid 1px lightgrey;
    gap: 20px;
}

.cart-item img {
    width: 100%;
    border-radius: 12px;
}

.card-item .details {
    padding-left: 10%;
}

.card-item h3 {
    text-align: left;
    margin-bottom: 5%;
}

.cart-item .price {
    display: block;
    text-align: right;
    margin-top: 15%;
}

.cart-item .quantity {
    display: block;
    margin-top: 20px;
}

.fa-window-close {
    color: #D63E0D;
    cursor: pointer;
}

.cancel {
    text-align: right;
}

.hide {
    display: none;
}

.non-empty::after {
    content: var(--after-content);
    font-size: 10px;
    width: 10px;
    height: 10px;
    display: inline-block;
    text-align: center;
    align-items: center;
    position: relative;
    padding: 6px;
    top: -50px;
    right: -30%;
    background-color: #D63E0D;
    border-radius: 50%;
    color: #fff;
    border: 2px solid rgb(230, 226, 226);
}




/* Seller Section */
.seller {
    width: 100%;
    margin-top: 40px;

    h3 {
        font-size: clamp(30px, 6vw, 40px);
        color: #E4420A;
        text-align: center;
    }


    /* card styling */

    .card-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 7%;
    }

    .card-item:hover {
        transform: translateY(-10px);
    }

    del {
        margin-right: 3px;
    }

    span {
        width: 100%;
    }

    .card-item {
        display: flex;
        flex-direction: column;
        width: 310px;
        height: 400px;
        justify-content: center;
        align-items: center;
        border: 2px solid #ffffff;
        margin: 20px 0;
        border-radius: 14px;
        background-color: #ffffff;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px;
        transition: transform 2s ease;
    }

    .card-item img {
        width: 230px;
        height: 200px;
        border-radius: 12px;
    }

    .card-item .details {
        text-align: center;
        width: 100%;
        padding-inline: 30px;

    }

    .card-item p {
        margin-bottom: 30px;
    }

    .card-item h3 {
        text-align: center;
        margin-inline: 10px;
        font-size: clamp(18px, 4vw, 18px);
    }

    .card-item span {
        /* display: block; */
        margin-top: 20px;
        width: 100%;
        font-weight: 500;
    }

    .add-to-cart-btn {
        width: fit-content;
        margin: auto;
        margin-top: 10px;
    }

    hr {
        width: 100px;
        display: block;
        margin: auto;
        border: #210C0C 2px solid;
    }



    /* Process section */
    .process {
        border-radius: 20px;
        display: flex;
        justify-content: space-around;
        padding: 20px;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 60px;
        gap: 20px;
    }


    .process p {
        max-width: 500px;
        text-align: left;
        margin-bottom: 30px;

    }

    .process h3 {
        max-width: 500px;
        text-align: left;
    }

    .process img {
        width: 300px;
        height: 400px;
    }
}

/* Sponsors section */
.sponsors {
    margin-top: 40px;
    position: relative;
    width: 100%;
    height: auto;

    .sponsors-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-wrap: wrap;
    }

    img {
        width: 150px;
        height: auto;
        opacity: 0.5;
    }

    p {
        margin-bottom: 40px;
        text-align: center;
        font-weight: 500;
    }

}



/* Blog Section */
.blog {
    margin-top: 50px;
    position: relative;
    width: 100%;
    height: auto;

    .blog-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        justify-content: space-around;
        justify-items: center;
        flex-wrap: wrap;
        margin-top: 40px;

    }

    img {
        width: 250px;
        height: 200px;
        border-radius: 12px;
    }

    .blog-post {
        display: grid;
        grid-template-rows: subgrid;
        grid-row: span 4;
        gap: 20px;
    }

    p {
        text-align: center;
        font-weight: 500;
    }


    .blog-post p {
        max-width: 250px;
        margin-bottom: 30px;
        text-align: center;
        font-size: clamp(10px, 4vw, 13px);
        display: block;
        margin: auto;

    }

    .blog-post h4 {
        max-width: 250px;
        margin-top: 15px;
        margin-bottom: 15px;
        text-align: center;
    }

    .blog-post button {
        border: none;
        display: block;
        margin: auto;

    }
}

/* what-people-say-about-us */

.what-people-say-about-us {

    .carousel {
        margin: 100px auto;
        width: 87.2%;
        display: flex;
        overflow-x: auto;
        gap: 1rem;
        height: auto;
    }

    .group {
        display: flex;
        align-items: baseline;
        justify-content: center;
        gap: 1em;
        animation: infinite-scroll 50s infinite linear;
    }


    .card {
        flex: 0 0 5em;
        height: 8em;
        font-size: 3rem;
        border-radius: 2em;
        text-align: center;
        align-content: center;
    }

    h5 {
        font-size: clamp(20px, 3vw, 20px);
        margin-bottom: 10px;
    }

    p {
        font-size: clamp(12px, 2vw, 10px);
        text-align: center;
        font-weight: 500;
    }

    .card img {
        width: 200px;
        height: 180px;
        margin-bottom: 10px;
        border-radius: 12px;
    }

    h3 {
        margin-top: 70px;
        padding-inline: 15px;
    }

    #p1 {
        margin-bottom: -90px;
        text-align: center;
        font-size: clamp(15px, 4vw, 18px);
    }
}

.carousel::-webkit-scrollbar {
    display: none;
}



@keyframes infinite-scroll {
    from {
        translate: -100%;
    }

    to {
        translate: 0%;
    }
}

.Subscribe {

    .container {
        display: block;
        background-color: #b72e00;
        backdrop-filter: blur(10px);
        width: 90%;
        margin: auto;
        border-radius: 32px;
        padding: 20px;
        margin-bottom: 20px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px;
    }

    .email {
        display: flex;
        justify-content: center;
        flex-direction: column;
        justify-items: center;
    }

    button {
        display: block;
        margin: auto;
        width: 80vw;
        border: none;
        padding: 10px 20px;
        font-size: 17px;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    button:hover {
        display: block;
        margin: auto;
        width: 80vw;
        border: none;
        padding: 10px 20px;
        font-size: 17px;
        margin-top: 10px;
        margin-bottom: 20px;
    }


    input {
        display: block;
        margin: auto;
        width: 80vw;
        height: 40px;
        border-radius: 18px;
        margin-bottom: -18px;
        margin-top: 20px;
        padding-inline: 10px;
        border: none;
    }

    h4 {
        color: #fdf6ea;
        font-size: clamp(20px, 8vw, 35px);
        max-width: 100%;
        text-align: center;
    }

    p {
        font-size: clamp(12px, 5vw, 14px);
        color: #fdf6ea;
        text-align: center;
    }
}

footer {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: -45px;

    .footer-container {
        background-color: #D63E0D;
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
        padding: 20px;
    }

    ul {
        list-style: none;
    }

    a {
        text-decoration: none;
        font-weight: 500;
        color: #fdf6ea;
        font-size: 1em;
        line-height: 30px;
    }

    p {
        font-weight: 600;
        color: #fcece6;
    }

    h4 {
        color: #fcece6;
        font-size: 1.3rem;
    }

    .logo img {
        width: 300px;
        margin-left: -13px;
    }

    .logo p {
        max-width: 320px;
    }

    .Contact img {
        width: 30px;
        height: 30px;
        filter: brightness(0) invert(1);

    }

    .contact-us {
        display: flex;
        align-items: center;
        gap: 3px;
    }



}

/* Floating */
.back-to-top {
    width: 100%;
    position: sticky;
    bottom: 10px;
}

.back-to-top img {
    position: relative;
    left: 85vw;
    width: 40px;
    filter: invert(32%) sepia(88%) saturate(6667%) hue-rotate(6deg) brightness(95%) contrast(100%);
}

@media (max-width:768px) {
    .cart-icon {
        left: -80px;
    }
}

@media (min-width:100px) and (max-width:328px) {


    .hero {
        height: 100vh;

        .hero-video-mobile {
            height: 100%;
        }



        .box {
            position: absolute;
            margin-top: -50px;

            .box1 {
                width: auto;
                height: 60px;
                padding: 20px;
            }

            .box1 h3 {
                color: #fcc4b2;
                font-size: 0.7rem;
            }

            .box1 p {
                font-size: 13px;
                font-size: 0.5rem;
            }

        }



        .worldwide {
            width: 280px;
            height: 70px;
            top: 85vh;


            img {
                width: 20px;
                height: 20px;
                border-radius: 50%;
            }

            .img2 {
                margin-left: -15px;
            }

            .img3 {
                margin-left: -15px;
            }

            .img4 {
                margin-left: -15px;
            }

            .img5 {
                margin-left: -15px;
            }

            .star {
                width: 60px;
                height: auto;
                margin-top: 18px;
                margin-bottom: -20px;
            }

            p {
                font-size: 1rem;
                padding-top: 10px;
            }
        }



    }


}

@media (min-width:768px) and (max-width: 1024px) {

    .cart-icon {
        left: -10px;
    }

    /* header {
        .logo img {
            width: 300px;
            margin-left: 15px;
        }
    } */

    .hero {
        height: 100vh;
        border-radius: 0 0px 32px 32px;

        .name {
            position: absolute;
            font-size: clamp(160px, 4vw, 180px);
            font-weight: 900;
            top: 40%;
            display: block;
            margin: auto;
            margin-inline: 10px;
            opacity: 0.1;
        }

        h2 {
            font-size: 100px;
            max-width: 700px;
            padding-left: 40px;
        }

        p {
            font-size: 30px;
            max-width: 700px;
            padding-left: 40px;
        }


        .box {
            top: 61vh;
            left: 40px;


            .box1 {
                width: 320px;
                height: 190px;
                padding: 20px;
            }


            .box1 h3 {
                color: #fcc4b2;
                font-size: 3rem;
            }

            .box1 p {
                font-size: 13px;
                font-size: 2rem;
            }
        }

        .btn {
            margin-left: 40px;
            padding: 20px;
            width: 30px;
            height: 30px;
            font-size: 18px;
        }

        .worldwide {
            width: 680px;
            height: 170px;
            top: 81vh;
            left: 40px;



            img {
                width: 60px;
                height: 60px;
                border-radius: 50%;
            }

            .img2 {
                margin-left: -15px;
            }

            .img3 {
                margin-left: -15px;
            }

            .img4 {
                margin-left: -15px;
            }

            .img5 {
                margin-left: -15px;
            }

            .star {
                width: 150px;
                height: auto;
                margin-top: 18px;
                margin-bottom: -20px;
            }

            p {
                font-size: 2rem;
                padding-top: 10px;
            }
        }

    }



}



@media (max-width:1150px) {

    .hero {
        height: 100vh;
    }

    .desktop-menu {
        display: none;
    }

    .hero-video-mobile {
        height: 100vh;
    }

    header {
        justify-content: space-around;
        gap: 40px;
    }

    .blog-container {
        gap: 60px;
    }

    .footer-container {
        padding: 20px;
    }

    .cart-box {
        width: 90%;
    }
}

@media (min-width: 1200px) {

    .cart-icon {
        left: -4%;
    }

    .mobile-hanburger {
        display: none;
    }

    header {
        .logo img {
            width: 200px;
            position: relative;
            margin-left: -26px;
        }
    }

    .hero {

        width: 100vw;
        height: 120vh;
        position: relative;
        overflow: hidden;

        .desktop-video {
            display: block;
            width: 100vw;
            position: absolute;
            border-radius: 0 0 52px 52px;
            top: 0;
            z-index: -1;
        }

        .hero-video-mobile {
            display: none;
        }

        .name {
            position: absolute;
            font-size: 250px;
            font-weight: 900;
            top: 5%;
            left: 76px;
            opacity: 0.1;
        }


        .hero-content {
            position: absolute;
            top: 300px;
            padding-left: 80px;
        }

        h2 {
            max-width: 400px;
            line-height: 70px;

        }

        p {
            margin-bottom: 20px;
        }

        .box {
            top: 340px;
            left: 70vw;

            .box1 {
                background-color: #6f180c5e;
                backdrop-filter: blur(100px);
                border: #ff7c50 solid;
                padding: 20px;
                text-align: center;
                border-radius: 12px;
                box-shadow: 2px 2px rgba(0, 0, 0, 0.416);
            }

            .box1 h3 {
                color: #fcc4b2;
            }

            .box1 p {
                font-size: 13px;
            }
        }

        .worldwide {
            width: 360px;
            height: 75px;
            top: 460px;
            left: 70vw;
            gap: 80px;

            img {
                width: 30px;
                height: 30px;
                border-radius: 50%;
            }

            .img2 {
                margin-left: -15px;
            }

            .img3 {
                margin-left: -15px;
            }

            .img4 {
                margin-left: -15px;
            }

            .img5 {
                margin-left: -15px;
            }

            .star {
                width: 70px;
                height: auto;
                margin-top: 18px;
                margin-bottom: -10px;
            }

            p {
                font-size: 12px;
                margin-bottom: 30px;
                margin-top: -10px;
            }
        }
    }

    /* Seller section */
    .seller {
        margin-top: -10px;

    }

    .product {
        margin-inline: 53px;
    }

    .process-content {
        margin-left: -55px;
    }


    .blog-container {
        margin-inline: 63px;
    }

    .Subscribe {

        .container {

            width: 87.2%;
        }

        input {
            width: 17rem;
            display: block;
            margin: auto;
            margin-top: 20px;
            margin-bottom: -20px;
        }

        button {
            width: 17rem;
        }

        button:hover {
            width: 17rem;
        }
    }

    footer {
        overflow-y: hidden;

        .footer-container {
            padding-inline: 83px;
        }

        p:has(.logo) {
            padding-left: -5px;
        }
    }

    .back-to-top img {
        position: relative;
        left: 94vw;
        width: 40px;
    }

    .process {
        justify-content: space-between;
        gap: 100px;
        display: flex;
    }
}

/* ANIMATIONS */

.scroll-up {
    animation: scroll-up 20s ease-out 1s;
    animation-timeline: view(100% 0%);
}

@keyframes scroll-up {
    from {
        transform: translateY(100vh);
    }

    to {
        transform: translateY(0vh);
    }
}

.scroll-up2 {
    animation: scroll-up2 20s ease-out 1s;
    animation-timeline: view(100% 0%);
}

@keyframes scroll-up2 {
    from {
        transform: translateY(130vh);
    }

    to {
        transform: translateY(0vh);
    }
}

.scroll-up3 {
    animation: scroll-up3 20s ease-out 1s;
    animation-timeline: view(100% 0%);
}

@keyframes scroll-up3 {
    from {
        transform: translateY(160vh);
    }

    to {
        transform: translateY(0vh);
    }
}

.scroll-up4 {
    animation: scroll-up4 20s ease-out 1s;
    animation-timeline: view(100% 0%);
}

@keyframes scroll-up4 {
    from {
        transform: translateY(190vh);
    }

    to {
        transform: translateY(0vh);
    }
}


.scroll-left {
    animation: scroll-left 8s ease;
    animation-timeline: view(80% 0%);
}

@keyframes scroll-left {
    from {
        transform: translateX(-100vh);
    }

    to {
        transform: translateX(0vh);
    }
}

.scroll-right {
    animation: scroll-right 8s ease;
    animation-timeline: view(80% 0%);
}

@keyframes scroll-right {
    from {
        transform: translateX(100vh);
    }

    to {
        transform: translateX(0vh);
    }
}